<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <a href="{% url 'home' %}">Home |</a>
    <a href="{% url 'about' %}">About |</a>
    <a href="{% url 'contact' %}">Contact |</a>
    <a href="{% url 'services' %}">Services</a>

<h1>Avg age: {{age}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quas! Optio quis, natus officiis maiores,
         eius quos beatae earum, consequuntur perferendis pariatur sequi porro facilis? Voluptates illum repellendus eveniet aperiam.</p>
    
</body>
</html>