<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <a href="{% url 'home' %}">Home |</a>
    <a href="{% url 'about' %}">About |</a>
    <a href="{% url 'contact' %}">Contact |</a>
    <a href="{% url 'services' %}">Services</a>
<br>


<h1>Average is: {{AVG}}</h1>
<br>

<table
<tr>
    <th>name</th>
    <th>SL.</th>
    <th>Average</th>
    <th>ID</th>
</tr>
<tbody>
    {% for student in students reversed %}
        <tr>
            <td> {{forloop.counter0}} </td>
            <td> {{forloop.counter}} </td>
            <td> {{student.name}} </td>
            <td>{{student.age}}</td>
            <td>{{student.id}}</td>
        </tr>
    {% endfor %}

 

    {% for x in students %}
    <tr class="{% cycle rowvalue1 rowvalue2 %}">
        ...
    </tr>
    {% endfor %}

</tbody>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quas! Optio quis, natus officiis maiores,
         eius quos beatae earum, consequuntur perferendis pariatur sequi porro facilis? Voluptates illum repellendus eveniet aperiam.</p>
    
</body>
</html>